* {
    margin: 0;
    padding:0;


}

body {
    text-align: left;
    width: 800px;
    margin-left: 30%;

}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFBBFF;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #E8E8E8 ;

}


img{
    width: 200px;
    height: 200px;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
    
}

p {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    

}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFF0;
    


}



a:hover{
    text-decoration: underline;
}